@import "./node_modules/bulma/bulma.sass";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

// ---------- BULMA ADJUSTMENTS ----------
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.is-active {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-item {
  padding: 0.5rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
// ---------- HERO SECTION ----------
// General Setup

.heroSection {
  height: auto;
  width: 100%;
  padding-bottom: 75px;
}

.heroContainer {
  height: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (max-width: 1087px) {
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.heroContent {
  //mobile styles
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &.hero-right {
    margin: 75px 0 30px;
    width: 70%;
    min-width: 375px;
  }

  &.hero-left {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media (min-width: 510px) {
    &.hero-left {
      width: 70%;
    }
  }
  @media (min-width: 1087px) {
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &.hero-right {
      width: 55%;
    }

    &.hero-left {
      width: 45%;
      margin-left: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}
// Left Content Styling

.myName {
  margin-bottom: 15px;
}

.introMessage {
  text-align: center;
  @media (min-width: 510px) {
    width: 90%;
  }
}

.websiteLinks {
  color: #4a4a4a;
  text-decoration: underline;

  &.urkel {
    -webkit-text-decoration-color: rgba(255, 184, 0, 0.49);
    text-decoration-color: rgba(255, 184, 0, 0.49);
  }

  &.ha {
    -webkit-text-decoration-color: rgba(105, 69, 246, 0.49);
    text-decoration-color: rgba(105, 69, 246, 0.49);
  }

  &:hover,
  &:visited {
    color: #4a4a4a;
  }
}
// Right Content Styling

.heroImage {
  width: 80%;
  max-width: 700px;
}
// ---------- ABOUT SECTION ----------
// General Setup

.aboutSection {
  height: auto;
  background-color: #fcfcfc;
  width: 100%;
  padding-bottom: 100px;
}

.headerContainer {
  height: auto;
  padding-top: 65px;
  text-align: center;
}

.aboutContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  padding-top: 60px;
  @media (max-width: 1087px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.aboutInfo {
  width: 32%;
  padding: 0 20px;
  min-width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media (max-width: 1087px) {
    width: 65%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:nth-child(2) {
      margin: 50px 0;
    }
  }
}

.imgContainer {
  width: 150px;
  height: auto;
  text-align: center;
}

.aboutTitle {
  font-weight: 600;
  margin: 15px 0;
}

.aboutParagraph {
  text-align: center;
  font-size: 18px;
}
// ---------- PROJECTS SECTION ----------
// General Setup

.projectSection {
  height: 650px;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 30px;
}

.projectsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.card {
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description {
  margin: 15px 0;
  width: 95%;
}

.btnContainer {
  margin-top: 10px;
}

.btnLink {
  text-decoration: none;
  border-radius: 30px;
  padding: 8px 20px;
  margin: 0 2.5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 1.5px solid #f6ae2e;

  &:hover {
    color: #f6ae2e;
  }
}

.website {
  background-color: #f6ae2e;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #faa100;
    border-color: #faa100;
  }
}

.source {
  color: #f6ae2e;

  &:hover {
    color: #fff;
    border-color: #f6ae2e;
    background-color: #f6ae2e;
  }
}

[type=radio] {
  display: none;
}

#slider {
  height: 500px;
  max-height: 70%;
  max-width: 80%;
  margin-left: 10%;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
// Left end card
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  -webkit-transform: translate3d(-30%,0,-200px);
  transform: translate3d(-30%,0,-200px);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;

  &:hover {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);
  }
}
// Middle left card
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  -webkit-transform: translate3d(-15%,0,-100px);
  transform: translate3d(-15%,0,-100px);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;

  &:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.4);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.4);
  }
}
// Center card
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
// Right middle card
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  -webkit-transform: translate3d(15%,0,-100px);
  transform: translate3d(15%,0,-100px);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;

  &:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.4);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.4);
  }
}
// Right end card
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  -webkit-transform: translate3d(30%,0,-200px);
  transform: translate3d(30%,0,-200px);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;

  &:hover {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);
  }
}

#slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  background: #fff;
}
// ---------- CONTACT SECTION ----------
// General Setup

.contactSection {
  height: auto;
  padding-bottom: 75px;
  background-color: #fcfcfc;
  width: 100%;
  overflow: hidden;
}

.formContainer {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contactForm {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (min-width: 770px) {
    width: 50%;
  }
  @media (min-width: 1025px) {
    width: 40%;
  }
}

.email,
.name,
.textArea {
  width: 100%;
  font-size: 12pt;
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0;
  background-color: #fcfcfc;

  &::-webkit-input-placeholder {
    color: #c8c8c8;
  }

  &:-ms-input-placeholder {
    color: #c8c8c8;
  }

  &::-ms-input-placeholder {
    color: #c8c8c8;
  }

  &::placeholder {
    color: #c8c8c8;
  }

  &:focus {
    border-color: #000;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-ms-input-placeholder {
      color: transparent;
    }

    &::placeholder {
      color: transparent;
    }
  }
}

.textArea {
  resize: none;
}

.submitButton {
  font-size: 12pt;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  margin-top: 50px;
  letter-spacing: 0.5px;
  background-color: #f6ae2e;
  color: #fff;
  border: none;

  &:hover {
    color: #fff;
    background-color: #faa100;
    border-color: #faa100;
  }
}
// ---------- FOOTER ----------
// General Setup

.footer {
  height: 300px;
  background-color: #fff;
  width: 100%;
}
