@import "./node_modules/bulma/bulma.sass";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

// ---------- BULMA ADJUSTMENTS ----------
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.is-active {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-item {
  padding: 0.5rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
// ---------- HERO SECTION ----------
// General Setup

.heroSection {
  height: auto;
  width: 100%;
  padding-bottom: 75px;
}

.heroContainer {
  height: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (max-width: 1087px) {
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.heroContent {
  //mobile styles
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &.hero-right {
    margin: 75px 0 30px;
    width: 70%;
    min-width: 375px;
  }

  &.hero-left {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media (min-width: 510px) {
    &.hero-left {
      width: 70%;
    }
  }
  @media (min-width: 1087px) {
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &.hero-right {
      width: 55%;
    }

    &.hero-left {
      width: 45%;
      margin-left: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}
// Left Content Styling

.myName {
  margin-bottom: 15px;
}

.introMessage {
  text-align: center;
  @media (min-width: 510px) {
    width: 90%;
  }
}

.websiteLinks {
  color: #4a4a4a;
  text-decoration: underline;

  &.urkel {
    -webkit-text-decoration-color: rgba(255, 184, 0, 0.49);
    text-decoration-color: rgba(255, 184, 0, 0.49);
  }

  &.ha {
    -webkit-text-decoration-color: rgba(105, 69, 246, 0.49);
    text-decoration-color: rgba(105, 69, 246, 0.49);
  }

  &:hover,
  &:visited {
    color: #4a4a4a;
  }
}
// Right Content Styling

.heroImage {
  width: 80%;
  max-width: 700px;
}
// ---------- ABOUT SECTION ----------
// General Setup

.aboutSection {
  height: auto;
  background-color: #fcfcfc;
  width: 100%;
  padding-bottom: 100px;
}

.headerContainer {
  height: auto;
  padding-top: 65px;
  text-align: center;
}

.aboutContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  padding-top: 60px;
  @media (max-width: 1087px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.aboutInfo {
  width: 32%;
  padding: 0 20px;
  min-width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media (max-width: 1087px) {
    width: 65%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:nth-child(2) {
      margin: 50px 0;
    }
  }
}

.imgContainer {
  width: 150px;
  height: auto;
  text-align: center;
}

.aboutTitle {
  font-weight: 600;
  margin: 15px 0;
}

.aboutParagraph {
  text-align: center;
  font-size: 18px;
}
// ---------- PROJECTS SECTION ----------
// General Setup
.projectSection {
  height: auto;
  padding-bottom: 75px;
  width: 100%;
  overflow: hidden;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 85%;
  margin-top: 30px;
}

.projectCard {
  border-radius: 20px;
  margin: 20px 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 70%;
  height: 300px;
  @media (min-width: 770px) {
    width: 40%;
  }
  @media (min-width: 1025px) {
    width: 25%;
  }
}

.projectInfo {
  width: 95%;
  margin-top: 20px;
  font-size: 14pt;
  text-align: center;
}


// ---------- CONTACT SECTION ----------
// General Setup

.contactSection {
  height: auto;
  padding-bottom: 75px;
  background-color: #fcfcfc;
  width: 100%;
  overflow: hidden;
}

.formContainer {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contactForm {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (min-width: 770px) {
    width: 50%;
  }
  @media (min-width: 1025px) {
    width: 40%;
  }
}

.email,
.name,
.textArea {
  width: 100%;
  font-size: 12pt;
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0;
  background-color: #fcfcfc;

  &::-webkit-input-placeholder {
    color: #c8c8c8;
  }

  &:-ms-input-placeholder {
    color: #c8c8c8;
  }

  &::-ms-input-placeholder {
    color: #c8c8c8;
  }

  &::placeholder {
    color: #c8c8c8;
  }

  &:focus {
    border-color: #000;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-ms-input-placeholder {
      color: transparent;
    }

    &::placeholder {
      color: transparent;
    }
  }
}

.textArea {
  resize: none;
}

.submitButton {
  font-size: 12pt;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  margin-top: 50px;
  letter-spacing: 0.5px;
  background-color: #f6ae2e;
  color: #fff;
  border: none;

  &:hover {
    color: #fff;
    background-color: #faa100;
    border-color: #faa100;
  }
}
// ---------- FOOTER ----------
// General Setup

.footer {
  height: 300px;
  background-color: #fff;
  width: 100%;
}
